.greeting-image{
    display: flex;
    margin: 200px;
    justify-content:space-evenly;
    margin-top: 90px;
    margin-bottom: 90px;
}
img{
    width: 200px;
    height: 200px;
    
}
.greet{
    text-align: center;
    margin-top: 90px;

}
.introduction{
    margin-left: 60px;
    font-size: 25px;
    margin-right: 120px;
    background-color: rgb(204, 199, 193);

}
.text{
    font-size: 22px;
    margin-left: 60px;
}
.contact-info{
    font-size: 25px;
    
    
}
.list{
    background-color: rgb(204, 199, 193);
    margin-left: 60px;
    margin-right: 120px;
    width: 40%;
  border: 3px solid rgb(61, 60, 60);
  padding: 10px;

}
.the-reason{
    margin-left: 60px;
    font-size: 25px;
}
ul, li{
    font-size: 20px;

}
